<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyf.lnglat.mapper.UserGisMapper">
    <select id="getRangeByRedis" resultType="com.hyf.lnglat.entity.UserGis">
        SELECT
        id,
        name,
        ST_Distance_Sphere(Point(#{lng},#{lat}), gis) as distance,
        ST_AsText(gis) gis,
        geohash
        FROM user_gis
        WHERE id IN
        <foreach collection="ids" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY distance;
    </select>
</mapper>